# Log rotation for remote logs
{{ rsyslog_log_dir }}/*/*.log {
    daily
    rotate {{ rsyslog_retention_days }}
    missingok
    notifempty
    compress
    delaycompress
    sharedscripts
    postrotate
        /usr/lib/rsyslog/rsyslog-rotate
    endscript
}
