---
# SSH Hardening Role - Tasks
# Configures SSH server for security best practices

- name: Backup original SSH config
  copy:
    src: /etc/ssh/sshd_config
    dest: /etc/ssh/sshd_config.backup
    remote_src: yes
    force: no
  tags:
    - ssh
    - security

- name: Configure SSH - Disable root login
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^#?PermitRootLogin'
    line: 'PermitRootLogin no'
    state: present
    validate: '/usr/sbin/sshd -t -f %s'
  notify: restart ssh
  tags:
    - ssh
    - security

- name: Configure SSH - Disable password authentication
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^#?PasswordAuthentication'
    line: 'PasswordAuthentication no'
    state: present
    validate: '/usr/sbin/sshd -t -f %s'
  notify: restart ssh
  tags:
    - ssh
    - security

- name: Configure SSH - Enable public key authentication
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^#?PubkeyAuthentication'
    line: 'PubkeyAuthentication yes'
    state: present
    validate: '/usr/sbin/sshd -t -f %s'
  notify: restart ssh
  tags:
    - ssh
    - security

- name: Configure SSH - Set port
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^#?Port'
    line: 'Port {{ ssh_port }}'
    state: present
    validate: '/usr/sbin/sshd -t -f %s'
  notify: restart ssh
  tags:
    - ssh
    - security

- name: Ensure SSH service is enabled and running
  systemd:
    name: ssh
    enabled: yes
    state: started
  tags:
    - ssh
    - security
